import React from "react";
import PortfolioImage from "../../assets/PortfolioImage.JPG";
import { FaHtml5, FaCss3Alt, FaJsSquare, FaReact, FaBootstrap, FaNode } from "react-icons/fa";
import { DiJqueryLogo, DiMongodb } from "react-icons/di";
import { SiRedux, SiMysql, SiGraphql, SiHeroku, SiWebpack, SiReactrouter } from "react-icons/si";

function About() {
  return (
    <div className="container">
      <div className="row">
        <div className="col-md-6">
          <img src={PortfolioImage} className="img-thumbnail" alt="cover" style={{ width: "100%" }} />
        </div>
        <div className="col-md-6">
          <h1 id="about">About Me</h1>
          <p>
            Hello! I'm Jade Hamey, a proficient full-stack software engineer with a rich background in the realms of creativity and artistry. Equipped with a fervent enthusiasm for software engineering, I am eagerly poised to embark on a dynamic journey in my burgeoning career.
          </p>
          <p>
            I attained my expertise through the University of Minnesota Full-Stack Coding Bootcamp, where I honed my skills in crafting robust web applications utilizing the MongoDB, Express, React, and Node.js (MERN) JavaScript stack.
          </p>
          <p>
            I am deeply committed to prioritizing the user experience in my web applications. I am eager to immerse myself in new technologies and contribute meaningfully to the advancement of software engineering. Let's embark on this exciting endeavor together! 👩🏻‍💻
          </p>
          <br />
          <h4>Technical Skills:</h4>
          <div>
            <FaHtml5 size={30} />
            <FaCss3Alt size={30} />
            <FaJsSquare size={30} />
            <DiJqueryLogo size={30} />
            <FaReact size={30} />
            <SiRedux size={30} />
            <FaBootstrap size={30} />
            <FaNode size={30} />
            <SiMysql size={30} />
            <DiMongodb size={30} />
            <SiGraphql size={30} />
            <SiHeroku size={30} />
            <SiWebpack size={30} />
            <SiReactrouter size={30} />
          </div>
        </div>
      </div>
    </div>
  );
}

export default About;
